
*{
    margin: 0;
    padding: 0;
    

}
body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.5;
    margin: 35px;
    background-color:#e6e6e6;
}
a {
    font-weight: 900;
}
a:hover{
    color: red;
}


img {
    width: 300px;
    height: 300px;
}
#changesOfTheRam,  th, td {
    margin: 35px;
    padding: 25px;
    border: 2px solid black;
    border-collapse: collapse;
}
img#logo {
    width: 10em;
    height: 160px;
}
div#search{
    margin-left: 90%;
}