.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}
	.copywrite__text {
		font-size: 1rem;
		text-transform: uppercase;
		padding: 1rem;

	}


.social {
	font-size: 1rem;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 1rem;

}
	.social__img {
		display: block;
		width: 3rem;
		height: 3rem;
		padding: 0.5rem;
    }
    
    @media (max-width:478px){
        .social {
			flex-wrap: wrap;
			justify-content: center;
		}
		.footer {
			flex-wrap: wrap;
			justify-content: center;
		}
    }