/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	/* font-size: 14px; */
	font-family: Arial, Helvetica, sans-serif;
	width: 1200px;
}
/* top block */
.top-block, .about, .price {
	
	width: 100vw;
	height: 100vh;
}

.top-block__wallpaper {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../../img/logo.png") no-repeat right;
	background-size: 1180px;
	opacity: 0.9;
	z-index: -1;
	filter: blur(5px);
}

.top-block__header {
	height: 15%;
	border-bottom: 2px solid #000;
	background-color: #dde5e9;
	opacity: .8;
}

.header-item {
	height: 15%;
	padding: 3rem 2rem;
}

.logo-img {
	width: 300px;
	width: 300px;
	max-width: 300px;
	transition: all 0.25s linear;
	animation: spin 2s ease-in-out;
}
	@keyframes spin{
		from {
			transform:rotate(720deg);
		 }
		to {
			top: 0px; 
		}
	}


.top-block__title { 
	text-align: center;
	background-color: #dde5e9;
	opacity: .8;
	z-index: -1;
}

.header-item__nav .top-nav-ul {
	text-decoration: none;
}

.top-nav-ul {
	padding-right: 5rem;
	height: 100px;
	list-style: none;
	text-align: center;
}

.btn--theme {
	margin: 2rem auto 2rem;
	padding: 2rem auto;
	background-color: #dde5e9;
	color: #000;
	border-color: #000;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	width: 75px;
	height: 75px;
	border-radius: 100%;
}
.btn--center {
	text-align: center;
	padding-top: 30px;
}
	.btn--center:hover {
		-webkit-box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
	}

.top-block__btn {
	margin-top: 2rem;
	text-align: center;
	width: 75px;
	height: 75px;
	border-radius: 100%;
	transition: all  0.5s ease;
}

.top-block__btn:hover {
	background-color: #dde5e9;
	color: #000;
	-webkit-box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
	margin-bottom: 5px;

}
	.down-symbol {
		font-size: 65px;
		color: #000;
	}
/* about block */

.about {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #f1f0ec;
}	

.title {
	padding: 2rem;
}

.title__text {
	line-height: 1.5em;
	text-align: center;
	padding: 0 5rem;
}

.about__btn {
	width: 25vw;
}

/* price block */
.price__wallpaper {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: url("../../img/about_wallpaper.jpeg") no-repeat center;
	background-size: cover;
	opacity: 0.9;
	z-index: -1;
	filter: blur(5px);
}


.price__title {
	padding: 10vh;
}

.products {
	width: 100wh;
	height: 60vh;
	text-align: center;
}

.products--bg {
	padding: 0 1rem;
	cursor: pointer;
	border-radius: 15%;
	background-color: rgb(216, 223, 227);
	transition: all  0.250s ease;
}
	.products--bg:hover {
		-webkit-box-shadow: 0px 0px 37px 11px rgba(159, 160, 161, 0.75);
		-moz-box-shadow: 0px 0px 37px 11px rgba(159, 160, 161, 0.75);
		box-shadow: 0px 0px 37px 11px rgba(159, 160, 161, 0.75);
		margin: 2rem;
	}

.products--height {
	height: 100%;
}

.price__btn {
	width: 25vw;
}
/* contact block */
.contact {
	position: relative;
	width: 100vw;
	height: 100vh;
	/* background-color: #f1f0ec; */
	text-align: center;
}

.contact__wallpaper {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: url("../../img/logo.png") no-repeat right;
	background-size: 500px;
	opacity: 0.9;
	z-index: -1;
	filter: blur(5px);
}

.contact__form {
	width: 100%;
	max-width: 320pxpx;
	background-color: #d8dfe3;
	margin-right: 25rem;
	padding: 5rem;
	border: 2px solid black;
	border-radius: 25%;
}
	.contact__form:hover {
		-webkit-box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
		margin: 20px;
	}

.contact__btn {
	width: 100%;
}

.footer {
	height: 15%;
	border-top: 2px solid #000;
	background-color: #dde5e9;
	opacity: .8;
}