.white {
	color: #fff;
}
.black {
	color:#000;
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}
.decoration--none{
	text-decoration: none;
}
.bold-900 {
	font-weight: 900;
}
.bold-400 {
    font-weight: 400;
}

.bold-600 {
    font-weight: 600;
}
.border-2 {
	border: 2px solid black;
}
