/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	width: 100%;
}


/* flex parent for the header block */
.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100vw;
	height: 100vh;
	/* background: url("../../img/header_background.jpg") no-repeat center; */
	/* background-color: #cccccc;*/
	background-size: cover;

}

.wallpaper {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: url("../../img/header_background.jpg") no-repeat center;
	background-size: cover;
	z-index: -1;
	opacity: 0.6;
}

.flex-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: auto;
	/* border: 3px solid red; */


}

.header-text {
	margin: 15vh auto;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 8px;
	background-color: #000;
}

.flex-item--center {
	margin: 15vh 20vw;
}

/* .flex-item{
	padding: 2rem;
} */


.nav-menu ul {
	display: flex;
	flex-wrap: wrap;
	width: 30vw;;
	height: 20vh;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header-logo {
	flex-basis: 100%;
	flex-shrink: 1;
}
/* .nav-menu {

} */

.menu-link {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
}

.btn {
	margin: 15vh auto;
	padding: 1rem;
	width: 100px;
	height: 100px;
}

.order-btn {
	border: 2px solid #fff;
	border-radius: 100%;
}


.order-btn:hover {
	background-color: #000;
}
.main-btn {
	border: 2px solid #000;
	border-radius: 100%;
	background-color: #000;
	color:#fff;
}

.main-btn :hover {
	
	color:#fff;

}


.btn a {
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
	text-decoration: none;
}
.btn-flex-container {
	width: 400px;
	height: 110px;
	margin: 0 auto;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;