/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
/* top block */
.top-block, .about, .price {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.top-block__wallpaper {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: url("../../img/header_background.jpg") no-repeat center;
	background-size: cover;
	opacity: 0.9;
	z-index: -1;
	filter: blur(5px);
}

.top-block__header {
	height: 25vh;
	border-bottom: 2px solid #000;
	background-color: #dde5e9;
	opacity: .8;
}

.header-item {
	width: 100vw;
	padding: 2rem 2rem;
}

.logo-img {
	max-width: 300px;
}


.top-block__title { 
	text-align: center;
	background-color: #dde5e9;
	opacity: .8;
	z-index: -1;
}

.header-item__nav,.top-nav-ul {
	text-decoration: none;
}

.top-nav-ul {
	padding-right: 5rem;
	height: 100px;
	list-style: none;
	text-align: center;
}

.btn--theme {
	margin: 2rem auto 2rem;
	padding: 2rem auto;
	background-color: #dde5e9;
	color: #000;
	border-color: #000;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	width: 75px;
	height: 75px;
	border-radius: 100%;
}
.btn--center {
	text-align: center;
	padding-top: 30px;
}
	.btn--center:hover {
		-webkit-box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
	}

.top-block__btn {
	margin-top: 2rem;
	text-align: center;
	width: 75px;
	height: 75px;
	border-radius: 100%;
}

.top-block__btn:hover {
	background-color: #dde5e9;
	color: #000;
	-webkit-box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
}
	.down-symbol {
		font-size: 70px;
		color: #000;
	}
/* about block */

.about {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #f1f0ec;
}	

.title {
	padding: 2rem;
}

.title__text {
	line-height: 1.5em;
	text-align: center;
	padding: 0 5rem;
}

.about__btn {
	width: 25vw;
}

/* price block */
.price__wallpaper {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: url("../../img/about_wallpaper.jpeg") no-repeat center;
	background-size: cover;
	opacity: 0.9;
	z-index: -1;
	filter: blur(5px);
}


.price__title {
	padding: 10vh;
}

.products {
	width: 100wh;
	height: 60vh;
	text-align: center;
}

.products--bg {
	padding: 0 1rem;
	border-radius: 15%;
	background-color: #d8dfe3;
}
	.products--bg:hover {
		-webkit-box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 37px 11px rgba(0,0,0,0.75);
	}

.products--height {
	height: 100%;
}

.price__btn {
	width: 25vw;
}